body{
    text-align: center;
    background-color: burlywood;
  }
  
  h1,h3{
    color: #FF3333;
    font-family: Pacifico;
  }
  
  header{
    background-color:#33E8FF;
    border: solid;
  }
  
  
  
  .navbar li{
    width: auto;
    display: inline-block;
  }
  img{
    width: 650px;
    height: 220px;
  }
  .dish{
    margin-left: 20px;
    width: 350px;
  }
  /*main{
    background-color: #F9CFF3;
  
  }*/
  footer{
    background-color: #FFEA6A;
  
  }
  .cookies {
      text-align: left;
      color: blue;
      border: solid yellow;
  }

 /* table,th,td {
   border: 1px solid ;
   width: 20px;
   height: 20px;
 } */

 table,tr,th,td {
  border: 1px solid blue ;
  color:black;
}
  div {
    background-color: greenyellow;
    border: solid;
    margin-top: 10px;
    font-family: cursive;
    color:blue
  }

