body{
    text-align: center;
    background-color: burlywood;
  }
  
  h1,h3{
    color: #FF3333;
    font-family: Pacifico;
  }
  
  header{
    background-color:#33E8FF;
    border: solid;
  }
    
  .navbar li{
    width: auto;
    display: inline-block;
  }

  img{
    margin-top: 10px;
    width: 150px;
    height: 150px;

  }

  .dish{
    margin-left: 20px;
    width: 350px;
  }
  
  footer{
    background-color: #FFEA6A;
    color: darkcyan
  
  }
  
  .cookies {
    background-color: chartreuse;
    font-family: Georgia, 'Times New Roman', Times, serif;
      text-align: left;
      color: blue;
      border: solid blue;
  }

 table,tr,th,td {
  border: 1px solid blue ;
  color:black;
}

  div {
    background-color: greenyellow;
    border: solid;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color:brown
  }

  
